@charset "utf-8";
/*
Valuable Cars
Cascading Style Sheet
Author: Sergio P. Arambul
Date: September 9, 2019
   Filename: style.css
*/

html {   background-color: #DCDCDC;
background-image:url('images/metal.jpg');
}
/*Table Styles*/
table.inventory {
  background: white;
  border: 10px outset rgb(153, 5, 0);
  font-size: 1.5em;
  width: 100%;
  padding: 50px;
}

table.inventory th, table.inventory td {
  border: 1px solid grey;
}

table.inventory thead tr {
   height: 100px;
}

table.inventory tbody tr {
   height: 100px;
}
